.app {
    background-color: #E3E7EB;
    &_contruct {
        display: flex;
        margin-top: 75px;
        margin-bottom: -28px;
  }
  &_contructs {
    height: 180px;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 40px;
    border: 1px solid #E3E7EB;
    border-radius: 25px;
    color: $text-color;
    font-size: 18px;
    span {
        font-family: "NotoSansKR-Black";
        font-size: 20px;
        color: #000;
        margin-bottom: 20px;
    }
    p {
        margin-top: 15px;
        color: #686a6b;
    }
  }
  &_step {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    li {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;
        margin: 0 20px;
    }
    i {
        display: none;
    }
  }
  &_progress {
    width: 30px;
    height: 30px;
    margin: 25px;
    border-radius: 50%;
    background-color: #686a6b;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 190px;
        background-color: #686a6b ;
        right: 30px;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }
  }
  &_img {
    margin-top: 90px;
    margin-left: 170px;
    display: none;
    img {
        width: 100%;
    }
  }

}
.one::after {
    width: 0;
    height: 0;
}
.app_progress.active {
    background-color: #3F8CFF;
}
.app_progress.active::after {
    background-color: #3F8CFF;
}
.app_contructs.active {
    background-color: #3F8CFF;
    span {
        color: $text-color;
    }
    p {
        color: #d0d0d0;
    }
}
.app_img.active {
    display: block;
}